.vscode/

*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
*.tar.gz
*.tar.xz

debian/*.debhelper.log
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*substvars
debian/tmp/
debian/*/

!debian/control
!debian/changelog
!debian/rules
!debian/install
!debian/*.service

build/
*.o
*.out

*~
